<div class="container">
    <div class="card-container" *ngIf="cryptoList">
        <app-currency-card
            *ngFor="let crypto of cryptoList"
            [cryptoName]="crypto.type"
        >
        </app-currency-card>
    </div>

    <h2 class="selected-crypto">Selected coin: <span>{{cryptoType}}</span></h2>
    <div class="input-crypto">
       <div class="input-crypto__description">Volume: </div>
       <input
        class="input-crypto__active"
        type="number"
        #inputConverter
        />
    </div>
    <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        [value]="regularType"
        (change)="changeRegularCurrency($event.value)"
        >
        <mat-button-toggle
            *ngFor="let regularCurrency of listOfRegularCurrency"
            [value]="regularCurrency"
        >
            {{regularCurrency}}
    </mat-button-toggle>
    </mat-button-toggle-group>
    <h2 class="results-crypto">{{ cryptoTotal + cryptoType}} will be {{ mStates.regularTotal  | number:'.1-5' }} in {{ regularType }}</h2>
</div>