@import '../../../assets/variables.scss';


.container {
    background: $bg-main;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-button-toggle-group {
    background: $bg-main;
}

mat-button-toggle {
    color: $text-secondary;
    background: $bg-secondary;

    &:not(:last-child) {
        margin-right: 2.2em;
    }

}

.mat-button-toggle-checked {
    background: $text-secondary;
    color: $bg-secondary;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selected-crypto, .results-crypto {
    font-weight: 300;
    text-align: center;
}

.selected-crypto {
    color: $text-primary;
}

.results-crypto {
    color: $text-secondary;
}

.input-crypto {
    display: flex;
    min-width: 400px;
    align-items: center;
    margin-bottom: 1.5em;

    &__description {
        flex: 1;
        color: $text-secondary;
    }

    &__active {
        flex: 4;
        width: 100%;
        color: $text-primary;
        background: yellow;
        font-size: 1.4em;
        color: $text-primary;
        background: $bg-main;
        border-color: $bg-secondary;
    }
}




