@import '../../../assets/variables.scss';

mat-card {
    background: $bg-secondary;
    margin-right: 1.2em;
}

.card-content {
    display: flex;
    min-width: 260px;

    ul {
        padding-left: 0;
        list-style: none;
    }

    .image-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            color:  $text-secondary;
        }

    }

    .currency-container {
        flex: 2;
    }

    .currency-info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        color: $text-primary;

        &__name {
            flex: 1;
            font-weight: 900;
        }

        &__amount {
            flex: 2;
            font-weight: 300;
        }
    }

}