<mat-card
    *ngIf="cryptoData"
    (click)="onChangeCrypto(cryptoName)">
        <mat-card-content class="card-content">
            <div class="image-container">
                <img src='/assets/imgs/{{cryptoName}}.png'>
                <h3 class="image-container__text">{{cryptoName}}</h3>
            </div>
            <div class="currency-container">
                <ul>
                    <li *ngFor="let regularCurrency of _cryptoObject[0].value | keyvalue">
                        <div class="currency-info" >
                            <div class="currency-info__name"> {{ regularCurrency.key }} </div>
                            <div class="currency-info__amount"> {{regularCurrency.value | number:'.1-5'}} </div>
                        </div>
                    </li>
                </ul>
            </div>
        </mat-card-content>
</mat-card>