<h1 *ngIf="!isLoaded" class="loading-mock">LOADING...</h1>
<app-dashboard
    *ngIf="isLoaded && !isError"
    [cryptoList]='cryptList'>
</app-dashboard>
<h1 *ngIf="isLoaded && isError" class="loading-mock">There are some problems with loading data</h1>


